* {
    /* border: solid 1px red; */
}

html, body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    position: fixed;
    width: 100%;
    background-color: #4d4dff;
    height: 4rem;
}

header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20rem;
}

header a {
    text-decoration: none;
}

header .content .logo {
    font-family: 'Caveat', cursive;
    color: #e6e6ff;
    font-size: 2rem;
    margin: 0 1rem;
}

header nav ul{
    list-style-type: none;
    display: flex;
    margin: 0;
}

header nav ul li a{
    padding: 0.5rem;
    margin: 0.5rem;
    color: #e6e6ff;
}

/* MAIN */
main {
    position: relative;
    top: 4rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(100px, auto);
    gap: 1rem;
    padding: 0 20rem;
    background-color: beige;
}

main #aboutme {
    grid-column: 1 / 4;
}

main figure {
    grid-column: 4 / 6;
    display: flex;
    justify-content: center;
}

main figure img {
    width: 80%;
    height: auto;
}

main #projects {
    grid-column: 4 / 6;
    grid-row: 2;
}

main .project-images {
    grid-column: 1/4;
    grid-row: 2;
}

main .project-images figure {
    height: 10rem;
}

main .project-images figure img{
    height: 100%;
    width: auto;
}

main #skills {
    grid-row: 3;
    grid-column: 1 / 6;
}

main #skills .skills-container {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main #skills img {
    height: 2.2rem;
}

main #skills h3 {
    margin-bottom: 0;
}

main #skills #second-skills-container {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #aeaebd;
    padding: 1rem;
    border-radius: 1.5rem;
    margin-top: 0;
}

footer {
    width: 100%;
    margin-top: 7rem;
    grid-column: 1/6;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

footer img {
    height: 2rem;
    margin-bottom: 0;
}

footer h4 {
    margin-top: 0.7rem;
}

/* .project-images .project-image {
    display: none;
} */